fastapi
uvicorn
torch
transformers
matplotlib
python-multipart
colorama
protobuf
hf_xet
sqlalchemy
psycopg2-binary
alembic
python-jose
passlib
bcrypt==4.3.0
pymorphy3
pymorphy3-dicts-ru
pyaspeller
pydantic-settings
pydantic[email]